html {
	margin: 0;
	background-color: #0c45d6;
}

body {
	margin: 0 auto;
	max-width: 85em;
	min-width: 20em;
}

.btcf:after {
  content:"";
  display:table;
  clear:both;
 }

header {
	max-width: 85em;
	min-width: 20em;
	width: 100%;
	background-color: #0c45d6;
	position: fixed;
	top: 0;
	height: 3.5em;
	z-index: 99;
	img {
		position: absolute;
		margin-left: 8%;
		height: inherit;
	}
	h1 {
		text-align: center;
		color: white;
		padding: .3em 0 0 0;
		margin: 0;
	}
}

.main-container {
	width: 100%;
	background-color: white;
	position: relative;
	top: 3.5em;
	p {
		margin-top: 0;
	}
}

