html {
	min-width: 304px;
	margin: 0;
	background-color: #D4DCF7;
}

body {
	margin: 0 auto;
	font-family: adelle, Georgia, Cambria, 'Times New Roman', Times, serif;
}

.btcf:after {
  content:"";
  display:table;
  clear:both;
 }

 a {
	text-decoration: none;
}

.error {
	color: red;
}

header {
	margin: 0;
	padding: 0;
	width: 100%;
	background-image: url('images/dblue054.gif');
	position: fixed;
	top: 0;
	height: 3.5em;
	z-index: 99;
	box-shadow: 0 3px 3px #139AD8;
	.header-content {
		margin: 0 auto;
		max-width: 1280px;
		min-width: 304px;
		img {
			position: absolute;
			margin-left: 5%;
			height: 3.5em;
		}
		h1 {
			text-align: center;
			color: white;
			padding: .3em 0 0 0;
			margin: 0;
		}
	}
}

.main-container {
	margin: 0 auto;
	max-width: 1280px;
	min-width: 304px;
	width: 100%;
	background-color: white;
	position: relative;
	top: 3.5em;
	padding-top: 1em;
	color: #192949;
}

.content {
	width: 90%;
	margin: 0 auto;
}

.selling-points {
	.sell-headers {
		width: 48%;
		float: left;
	}
	ul {
		width: 45%;
		float: right;
		list-style: disc;
		li {
			font-size: 1.25em;
			line-height: 1.4em;
		}
	}
}

.sign-up {
	float: right;
	width: 33%;
	margin-top: 6em;
	background-color: #D4DCF7;
	border-radius: .5em;
	border: 1px solid #139AD8;
	box-shadow: 0px 0px 0.5em #139AD8;
	h2 {
 		font-weight: 600;
	 	text-align: center;
		padding: .5em .2em;
	}
	form {
		margin: 4%;
		width: 92%;
		label {
			font-size: 1.1em;
		}
		input#email {
			padding: 0 .5em;
			width: 55%;
			border: 2px solid #00332c;
			height: 1.8em;
		}
		.checkboxes {
			font-size: .75em;
		}
		#goods-button {
			text-align: center;
			color: white;
			background-image: url('images/dblue054.gif');
			border: 1px solid #f15623;
			border-radius: 3px;
			border: 1px solid #139AD8;
			box-shadow: 0px 0px 0.5em #139AD8;
			font-size: 1em;
			height: 2em;
			margin: 0 22%;
			width: 56%;
			cursor: pointer;
		}
	}
	.promise {
	 	margin: 4%;
	 	width: 92%;
	 	font-size: .75em;
	 	padding: 0 0 1em 0;
	}
}

.experts {
	width: 65%;
	float: left;
	h1 {
		color: #aa3933;
		text-align: center;
	}
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			height: 12em;
			position: relative;
			margin-bottom: 1em;
			h3, h2 {
				float: right;
				width: 50%;
			}
			h2 {
				margin-bottom: 0;
				button {
					text-align: center;
					color: white;
					background-image: url('images/dblue054.gif');
					border: 1px solid #f15623;
					border-radius: 3px;
					border: 1px solid #139AD8;
					box-shadow: 0px 0px 0.5em #139AD8;
					cursor: pointer;
				}
			}
			img {
				width: 48%;
				float: left;
			}
			h3 {
				color: #aa3933;
				font-style: italic;
				margin: 0;
			}
			button {
				margin-left: 1em;
			}
			p {
				position: absolute;
				width: 45%;
				top: 0;
				left: .25em;
				margin: 0;
				background-color: #D4DCF7;
				opacity: .85;
				border-radius: .5em;
				padding: .25em;
			}
		}
	}
}

.hidden {
	display: none;
}

.keynote {
	float: right;
	width: 33%;
	margin-top: 3em;
	background-image: url('images/dblue054.gif');
	border-radius: .5em;
	border: 1px solid #139AD8;
	box-shadow: 0px 0px 0.5em #139AD8;
	img {
		float: left;
		width: 50%;
	}
	h3, h4 {
		width: 45%;
		float: right;
		color: white;
	}
	h4 {
		font-style: italic;
	}
}

footer {
	position: relative;
	width: 100%;
	hr {
		border-bottom: 1px solid #e4f1ef;
  	width: 94%;
  	margin: 3%;
	}
	.footer-logo img {
		float: left;
		width: 44%;
		margin: 3%;
	}
	.contact {
		float: right;
		width: 44%;
		margin: 3%;
	}
	a {
		color: #aa3933;
	}
}



// media queries


@media screen and (max-width: 1080px) {
	header {
		height: 7em;
		.header-content {
			img {
				display: block;
				margin: 0 auto;
				// margin-right: auto;
				position: relative;
			}
		}
	}
	.main-container {
		top: 7em;
	}
}

@media screen and (max-width: 834px) {
	header {
		height: 10.5em;
	}
	.main-container {
		top: 10.5em;
	}
}

@media screen and (max-width: 800px) {
	.selling-points {
		width: 100%;
		.sell-headers {
			float: none;
			width: 100%;
		}
		ul {
			float: none;
			width: 90%;
		}
	}
	.sign-up {
		float: none;
		width: 100%;
		margin: 0;
	}
	.experts {
		float: none;
		width: 100%;
	}
	.keynote {
		float: none;
		width: 70%;
		margin: 0 auto;
		display: block;
		img {
			height: 8em;
			width: auto;
		}
		h3, h4 {
			float: left;
			margin-left: 1em;
		}
	}
}

@media screen and (max-width: 700px)
and (orientation: landscape) {
	header {
		position: relative;
	}
	.main-container {
		top: 0;
	}

}

@media screen and (max-width: 680px) {
	footer {
		.footer-logo img {
			float: none;
			width: 94%;
		}
		.contact {
			float: none;
			width: 94%;
		}
	}
	header {
		position: relative;
	}
	.main-container {
		top: 0;
	}	
}

@media screen and (max-width: 600px) {
	.experts {
		ul {
			li {
				height: auto;
				img, h3, h2 {
					float: none;
					width: 100%;
				}
			}
		}
	}
}

