html {
  min-width: 304px;
  margin: 0;
  background-color: #D4DCF7; }

body {
  margin: 0 auto;
  font-family: adelle, Georgia, Cambria, 'Times New Roman', Times, serif; }

.btcf:after {
  content: "";
  display: table;
  clear: both; }

.error {
  color: red; }

header {
  margin: 0;
  padding: 0;
  width: 100%;
  background-image: url("images/dblue054.gif");
  position: fixed;
  top: 0;
  height: 3.5em;
  z-index: 99;
  box-shadow: 0 3px 3px #139AD8; }
  header .header-content {
    margin: 0 auto;
    max-width: 1280px;
    min-width: 304px; }
    header .header-content img {
      position: absolute;
      margin-left: 5%;
      height: 3.5em; }
    header .header-content h1 {
      text-align: center;
      color: white;
      padding: .3em 0 0 0;
      margin: 0; }

.main-container {
  margin: 0 auto;
  max-width: 1280px;
  min-width: 304px;
  width: 100%;
  background-color: white;
  position: relative;
  top: 3.5em;
  padding-top: 1em;
  color: #0c45d6; }

.content {
  width: 90%;
  margin: 0 auto; }

.selling-points .sell-headers {
  width: 48%;
  float: left; }
.selling-points ul {
  width: 45%;
  float: right;
  list-style: disc; }
  .selling-points ul li {
    font-size: 1.25em;
    line-height: 1.4em; }

.sign-up {
  float: right;
  width: 33%;
  margin-top: 6em;
  background-color: #D4DCF7;
  border-radius: .5em;
  border: 1px solid #139AD8;
  box-shadow: 0px 0px 0.5em #139AD8; }
  .sign-up h2 {
    font-weight: 600;
    text-align: center;
    padding: .5em .2em; }
  .sign-up form {
    margin: 4%;
    width: 92%; }
    .sign-up form label {
      font-size: 1.1em; }
    .sign-up form input#email {
      padding: 0 .5em;
      width: 55%;
      border: 2px solid #00332c;
      height: 1.8em; }
    .sign-up form .checkboxes {
      font-size: .75em; }
    .sign-up form #goods-button {
      text-align: center;
      color: white;
      background-image: url("images/dblue054.gif");
      border: 1px solid #f15623;
      border-radius: 3px;
      border: 1px solid #139AD8;
      box-shadow: 0px 0px 0.5em #139AD8;
      font-size: 1em;
      height: 2em;
      margin: 0 22%;
      width: 56%;
      cursor: pointer; }
  .sign-up .promise {
    margin: 4%;
    width: 92%;
    font-size: .75em;
    padding: 0 0 1em 0; }

.experts {
  width: 65%;
  float: left; }
  .experts h1 {
    color: #0c45d6;
    text-align: center; }
  .experts ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    .experts ul li {
      height: 12em;
      position: relative;
      margin-bottom: 1em; }
      .experts ul li h3, .experts ul li h2 {
        float: right;
        width: 50%; }
      .experts ul li h2 {
        margin-bottom: 0; }
        .experts ul li h2 button {
          text-align: center;
          color: white;
          background-image: url("images/dblue054.gif");
          border: 1px solid #f15623;
          border-radius: 3px;
          border: 1px solid #139AD8;
          box-shadow: 0px 0px 0.5em #139AD8;
          cursor: pointer; }
      .experts ul li img {
        width: 48%;
        float: left; }
      .experts ul li h3 {
        font-style: italic;
        margin: 0; }
      .experts ul li button {
        margin-left: 1em; }
      .experts ul li p {
        position: absolute;
        width: 45%;
        top: 0;
        left: .25em;
        margin: 0;
        background-color: #D4DCF7;
        opacity: .85;
        border-radius: .5em;
        padding: .25em; }

.hidden {
  display: none; }

.keynote {
  float: right;
  width: 33%;
  margin-top: 3em;
  background-image: url("images/dblue054.gif");
  border-radius: .5em;
  border: 1px solid #139AD8;
  box-shadow: 0px 0px 0.5em #139AD8; }
  .keynote img {
    float: left;
    width: 50%; }
  .keynote h4, .keynote h5 {
    width: 45%;
    float: right;
    color: white; }

footer {
  position: relative;
  width: 100%; }
  footer hr {
    border-bottom: 1px solid #e4f1ef;
    width: 94%;
    margin: 3%; }
  footer .footer-logo img {
    float: left;
    width: 44%;
    margin: 3%; }
  footer .contact {
    float: right;
    width: 44%;
    margin: 3%; }

@media screen and (max-width: 1080px) {
  header {
    height: 7em; }
    header .header-content img {
      display: block;
      margin: 0 auto;
      position: relative; }

  .main-container {
    top: 7em; } }
@media screen and (max-width: 834px) {
  header {
    height: 10.5em; }

  .main-container {
    top: 10.5em; } }
@media screen and (max-width: 800px) {
  .selling-points {
    width: 100%; }
    .selling-points .sell-headers {
      float: none;
      width: 100%; }
    .selling-points ul {
      float: none;
      width: 90%; }

  .sign-up {
    float: none;
    width: 100%;
    margin: 0; }

  .experts {
    float: none;
    width: 100%; }

  .keynote {
    float: none;
    width: 70%;
    margin: 0 auto;
    display: block; }
    .keynote img {
      height: 8em;
      width: auto; }
    .keynote h4, .keynote h5 {
      float: left;
      margin-left: 1em; } }
@media screen and (max-width: 700px) and (orientation: landscape) {
  header {
    position: relative; }

  .main-container {
    top: 0; } }
@media screen and (max-width: 680px) {
  footer .footer-logo img {
    float: none;
    width: 94%; }
  footer .contact {
    float: none;
    width: 94%; }

  header {
    position: relative; }

  .main-container {
    top: 0; } }
@media screen and (max-width: 600px) {
  .experts ul li {
    height: auto; }
    .experts ul li img, .experts ul li h3, .experts ul li h2 {
      float: none;
      width: 100%; } }
