html {
  background-color: #eff6f5;
  margin: 0; }

body {
  min-width: 14em;
  max-width: 74em;
  margin: 0 auto;
  font-family: adelle, Georgia, Cambria, 'Times New Roman', Times, serif;
  color: #00332c;
  line-height: 1.33em; }

.btcf:after {
  content: "";
  display: table;
  clear: both; }

.main-container {
  width: 100%;
  background-color: white; }

a {
  text-decoration: none; }

.error {
  color: red; }

header {
  background-image: url(images/blurry-bg-cropped.jpg);
  background-size: cover;
  height: 20em;
  width: 100%; }
  header .logo-small {
    margin: 0 auto;
    display: block;
    height: 50%;
    top: 2em;
    position: relative; }
  header h1 {
    color: white;
    text-align: center;
    position: relative;
    top: 1em;
    line-height: 1.2em; }

.content {
  width: 100%; }
  .content .selling-points {
    float: left;
    width: 51%;
    margin: 3%; }
  .content .sign-up {
    background-color: #d5e7e5;
    float: right;
    width: 37%;
    margin: 3%; }
    .content .sign-up h2 {
      font-weight: 600;
      text-align: center;
      padding: .5em .2em; }
    .content .sign-up form {
      margin: 4%;
      width: 92%; }
      .content .sign-up form label {
        font-size: 1.1em; }
      .content .sign-up form input#email {
        padding: 0 .5em;
        width: 55%;
        border: 2px solid #00332c;
        height: 1.8em; }
      .content .sign-up form .checkboxes {
        font-size: .75em; }
      .content .sign-up form #goods-button {
        text-align: center;
        color: white;
        background-color: #f47b53;
        border: 1px solid #f15623;
        border-radius: 3px;
        box-shadow: inset 0 1px 0 #f7a083, inset 0 0 8px #f69879;
        text-shadow: 0 -1px 0 #d33f0e;
        font-size: 1em;
        height: 2em;
        margin: 0 22%;
        width: 56%;
        cursor: pointer; }
    .content .sign-up .promise {
      margin: 4%;
      width: 92%;
      font-size: .75em;
      padding: 0 0 1em 0; }

.experts {
  width: 100%; }
  .experts h2 {
    text-align: center; }
  .experts ul.experts-list {
    margin: 2%;
    padding: 0; }
    .experts ul.experts-list li {
      float: left;
      display: inline-block;
      margin: 1%;
      width: 23%;
      height: 29em;
      list-style: none; }
      .experts ul.experts-list li img {
        width: 100%; }
      .experts ul.experts-list li h4 {
        font-style: italic;
        font-weight: 200; }
      .experts ul.experts-list li h3 {
        color: #f47b53; }

.highlight-experts {
  background-color: #d5e7e5; }

.keynote {
  background-color: #d5e7e5;
  width: 100%; }
  .keynote img {
    float: left;
    margin: 2% 3%;
    height: 120%; }
  .keynote .keynote-headers {
    float: left;
    margin: 2%; }
    .keynote .keynote-headers h4 {
      margin: 0;
      font-style: italic; }
    .keynote .keynote-headers h3 {
      margin: 1em 0; }

footer {
  width: 100%;
  padding: 0 0 3% 0; }
  footer hr {
    border-bottom: 1px solid #e4f1ef;
    width: 94%;
    margin: 3%; }
  footer .footer-logo img {
    float: left;
    width: 44%;
    margin: 3%; }
  footer .contact {
    float: right;
    width: 44%;
    margin: 3%; }
  footer a {
    color: #f47b53; }

.highlight-link {
  font-weight: 500;
  color: #f15623; }

@media screen and (max-width: 45em) {
  .content .selling-points {
    float: none;
    width: 94%; }
  .content .sign-up {
    float: none;
    width: 94%; }

  footer .footer-logo img {
    float: none;
    width: 94%; }
  footer .contact {
    float: none;
    width: 94%; } }
@media screen and (max-width: 56em) {
  .experts ul.experts-list li {
    width: 48%; } }
@media screen and (max-width: 30em) {
  .experts ul.experts-list li {
    float: none;
    width: 98%; } }
