html {
	min-width: 448px;
	margin: 0;
	background-color: #D4DCF7;
}

body {
	margin: 0 auto;
	font-family: adelle, Georgia, Cambria, 'Times New Roman', Times, serif;
}

.btcf:after {
  content:"";
  display:table;
  clear:both;
 }

.error {
	color: red;
}

header {
	margin: 0;
	padding: 0;
	width: 100%;
	background-image: url('images/dblue054.gif');
	position: fixed;
	top: 0;
	height: 3.5em;
	z-index: 99;
	box-shadow: 0 3px 3px #139AD8;
	.header-content {
		margin: 0 auto;
		max-width: 1280px;
		min-width: 448px;
		img {
			position: absolute;
			margin-left: 5%;
			height: 3.5em;
		}
		h1 {
			text-align: center;
			color: white;
			padding: .3em 0 0 0;
			margin: 0;
		}
	}
}

.main-container {
	margin: 0 auto;
	max-width: 1280px;
	min-width: 448px;
	width: 100%;
	background-color: white;
	position: relative;
	top: 3.5em;
	padding-top: 1em;
	color: #0c45d6;
}

.content {
	width: 90%;
	margin: 0 auto;
}

.selling-points {
	.sell-headers {
		width: 48%;
		float: left;
	}
	ul {
		width: 45%;
		float: right;
		list-style: disc;
		li {
			font-size: 1.25em;
			line-height: 1.4em;
		}
	}
}

.sign-up {
	float: right;
	width: 33%;
	margin-top: 6em;
	background-color: #D4DCF7;
	border-radius: .5em;
	border: 1px solid #139AD8;
	box-shadow: 0px 0px 0.5em #139AD8;
}

.experts {
	width: 65%;
	float: left;
	h1 {
		color: #0c45d6;
		text-align: center;
	}
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			height: 12em;
			position: relative;
			margin-bottom: 1em;
			h3, h2 {
				float: right;
				width: 50%;
			}
			h2 {
				margin-bottom: 0;
			}
			img {
				width: 48%;
				float: left;
			}
			h3 {
				font-style: italic;
				margin: 0;
			}
			button {
				margin-left: 1em;
			}
			p {
				position: absolute;
				width: 45%;
				top: 0;
				left: .25em;
				margin: 0;
				background-color: #D4DCF7;
				opacity: .85;
				border-radius: .5em;
				padding: .25em;
			}
		}
	}
}

.hidden {
	display: none;
}

.keynote {
	float: right;
	width: 33%;
	margin-top: 3em;
	background-image: url('images/dblue054.gif');
	border-radius: .5em;
	border: 1px solid #139AD8;
	box-shadow: 0px 0px 0.5em #139AD8;
	img {
		float: left;
		width: 50%;
	}
	h4, h5 {
		width: 45%;
		float: right;
		color: white;
	}
}

footer {
	position: relative;
	width: 100%;
	hr {
		border-bottom: 1px solid #e4f1ef;
  	width: 94%;
  	margin: 3%;
	}
	.footer-logo img {
		float: left;
		width: 44%;
		margin: 3%;
	}
	.contact {
		float: right;
		width: 44%;
		margin: 3%;
	}
}

@media screen and (max-width: 1064px) {
	header {
		height: 7em;
		.header-content {
			img {
				display: block;
				margin: 0 auto;
				// margin-right: auto;
				position: relative;
			}
		}
	}
	.main-container {
		top: 7em;
	}
}

@media screen and (max-width: 834px) {
	header {
		height: 10.5em;
	}
	.main-container {
		top: 10.5em;
	}
}

@media screen and (max-width: 784px) {
	.selling-points {
		width: 100%;
		.sell-headers, ul {
			float: none;
			width: 100%;
		}
	}
	.sign-up {
		float: none;
		width: 100%;
		margin: 0;
	}
}

// .sign-up {
// 	float: right;
// 	width: 33%;
// 	margin-top: 6em;
// 	background-color: #D4DCF7;
// 	border-radius: .5em;
// 	border: 1px solid #139AD8;
// 	box-shadow: 0px 0px 0.5em #139AD8;
// }










