html {
	background-color: #F5F6EF;
	margin: 0;
}

body {
	min-width: 480px;
	max-width: 1200px;
	margin: 0 auto;
}

.btcf:after {
  content:"";
  display:table;
  clear:both;
 }

.main-container {
	width: 100%;

}

header {
	// position: relative;
	background-image: url(images/blurry-bg-cropped.jpg);
	background-size: cover;
	height: 20em;
	width: 100%;
	.logo-small {
		margin: 0 auto;
		display: block;
		height: 50%;
		top: 2em;
		position: relative;
	}
	h1 {
		color: white;
		text-align: center;
		position: relative;
		top: 1em;
	}
}

.content {
	margin: 1%;
	.selling-points {
		display: inline-block;
		width: 60%;
	}
	.sign-up {
		background-color: #f47b53;
		display: inline-block;
		width: 30%;
		margin-left: 65%;
	}	
}

