html {
	background-color: #eff6f5;
	margin: 0;
}

body {
	min-width: 29em;
	max-width: 74em;
	margin: 0 auto;
}

.btcf:after {
  content:"";
  display:table;
  clear:both;
 }

.main-container {
	width: 100%;
	background-color: white;
}

header {
	background-image: url(images/blurry-bg-cropped.jpg);
	background-size: cover;
	height: 20em;
	width: 100%;
	.logo-small {
		margin: 0 auto;
		display: block;
		height: 50%;
		top: 2em;
		position: relative;
	}
	h1 {
		color: white;
		text-align: center;
		position: relative;
		top: 1em;
	}
}

.content {
	width: 100%;
	.selling-points {
		float: left;
		width: 55%;
		margin: 3%;
	}
	.sign-up {
		// background color not quite right
		background-color: #f47b53;
		float: right;
		width: 33%;
		margin: 3%;
		h2 {
			padding: 0 .25em;
		}
	}	
}

.experts {
	width: 100%;
	h2 {
		text-align: center;
	}
	ul.experts-list {
		margin: 2%;
		padding: 0;
		li {
			float: left;
			display: inline-block;
			margin: 1%;
			width: 23%;
			height: 29em;
			list-style: none;
			img {
				width: 100%;
			}
		}
	}
}

.highlight-experts {
	background-color: #d5e7e5;
}

.keynote {
	background-color: #d5e7e5;
	width: 100%;
	img {
		float: left;
		margin: 2% 3%;
	}
	.keynote-headers {
		float: left;
		margin: 2%;
		h4 {
			margin: 0;
		}
		h5 {
			margin: 10% 0;
		}
	}
}



footer {
	width: 100%;
	// width: 94%;
	// margin: 3%;
	padding: 0 0 3% 0;
	hr {
  	border-bottom: 1px solid #e4f1ef;
  	width: 94%;
  	margin: 3%;
	}
	p {
		color: #00332c;
	}
	.footer-logo img {
		float: left;
		width: 44%;
		margin: 3%;
	}
	.contact {
		float: right;
		width: 44%;
		margin: 3%;
	}
}





// media queries

@media screen and (max-width: 44em) {
	.content {
		.selling-points {
			float: none;
			width: 94%;
		}
		.sign-up {
			float: none;
			width: 94%;
		}
	}

	footer {
		.footer-logo img {
			float: none;
			width: 94%;
		}
		.contact {
			float: none;
			width: 94%;
			margin: 3%;
		}
	}
}

@media screen and (max-width: 56em) {
	.experts {
		ul.experts-list li {
			width: 48%;
		}
	}
}

@media screen and (max-width: 30em) {
	.experts {
		ul.experts-list li {
			float: none;
			width: 98%;
		}
	}	
}




