html {
	background-color: #eff6f5;
	margin: 0;
}

body {
	min-width: 480px;
	max-width: 1200px;
	margin: 0 auto;
}

.btcf:after {
  content:"";
  display:table;
  clear:both;
 }

.main-container {
	width: 100%;
	background-color: white;
}

header {
	background-image: url(images/blurry-bg-cropped.jpg);
	background-size: cover;
	height: 20em;
	width: 100%;
	.logo-small {
		margin: 0 auto;
		display: block;
		height: 50%;
		top: 2em;
		position: relative;
	}
	h1 {
		color: white;
		text-align: center;
		position: relative;
		top: 1em;
	}
}

.content {
	width: 98%;
	margin: 1%;
	.selling-points {
		float: left;
		width: 58%;
	}
	.sign-up {
		// background color not quite right
		background-color: #f47b53;
		float: right;
		width: 35%;
		h2 {
			padding: 0 .25em;
		}
	}	
}

.experts {
	width: 100%;
	h2 {
		text-align: center;
	}
	ul.experts-list {
		margin: 0 auto;
		padding: 0;
		li {
			float: left;
			display: inline-block;
			margin: 1%;
			width: 23%;
			list-style: none;
			img {
				width: 100%;
			}
		}
	}
}

.keynote {
	background-color: #d5e7e5;
	width: 100%;
	img {
		float: left;
		margin: 1%;
	}
	.keynote-headers {
		float: left;
		margin: 1%;
		h4 {
			margin: 0;
		}
		h5 {
			margin: 10% 0;
		}
	}
}





// media queries

@media screen and (max-width: 720px) {
	.content {
		.selling-points {
			float: none;
			width: inherit;
		}
		.sign-up {
			float: none;
			width: inherit;	
		}
	}
}

@media screen and (max-width: 900px) {
	.experts {
		ul.experts-list li {
			width: 48%;
		}
	}
}

@media screen and (max-width: 480px) {
	.experts {
		ul.experts-list li {
			float: none;
			width: 98%;
		}
	}	
}




